body {
    background-image: url('../img/pattern.png');
    repeat;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.content {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.centered{
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
    align-items: center; /* for vertical alignment */
    margin-top: 15px;
}

.bordered {
    margin: 0px 10px;
    margin-bottom: 10px;
    padding: 2px;
    opacity: 0.8;
    /*background:#fff;*/
    z-index:30;
    color: rgba(5,48,43,0.75);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.bordered:hover {
    border: #ffa23b 1px solid;
    opacity: 1;
}

.bordered > label {
    font-weight: 600;
}

.question-container {
    width: 500px;
    min-height: 150px;
    margin: 50px auto;
    padding: 0 15px;
    background: #FAFAFA;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.32);
    border-radius: 25px;
}

.list-container {
    width: 500px;
    min-height: 150px;
    margin: 50px auto;
    background: #FAFAFA;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
}

.list-container ul {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
}

.list-container li {
    width: 430px;
    list-style-type: none;
    text-align: left;
    font-size: 22px;
    word-break: normal;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-container li:first-child {
    padding-top: 20px;
}

.list-container li:last-child {
    padding-bottom: 15px;
}

.list-group {
    padding-bottom: 10px;
}