{% extends 'base.html' %}
{% block title %}Question{% endblock %}

{% block content %}
    <div class="container question-container">
        <h4>Question: </h4>
        <p>{{ question.question_text }}</p>
    </div>
    <div class="container list-container">
        <form action="{% url "question_at_quiz" slug=question.quiz.slug question=question.id %}" method="post">
            {% csrf_token %}
            <ul>
              {% for answer in answers %}
                  <div class="checkbox bordered">
                      <label><input type="checkbox" name="answer_{{ answer.id }}" value="False">{{ answer.text }}</label>
                  </div>
              {% endfor %}
            </ul>
            <div class="centered">
                <input class="btn btn-warning" type="submit" value="Run" />
            </div>
        </form>
    </div>
{% endblock %}